aside{
    background-image: url(../assets/image/Background.png);
    width: 100%;

    color: white;
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    & .aside-container{
        max-width: 21rem;
        margin: 2rem auto;

        & img{
            width: 2.865625rem;
            height: 3rem;
            margin-bottom: 1rem;
        }

        & h1{
            font: var(--logo);
            color: var(--pink);
            margin-bottom: .25rem;
        }

        & p{
            /* font: var(--body-md); */
            font: 1rem;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            color: var(--text-heading);
            
        }
    }

}



