.main-color{
    margin-bottom: 1rem;

    & label:nth-child(1){
        margin-bottom: 0;
        padding: 0;
    }

    & .radio-color{
        display: flex;
        gap: .75rem;
        
        & input[type="radio"]{
            display: none;
        }

        & label{
            
            width: 2.5rem;
            height: 2.5rem;
            margin-top: 1rem;
            border-radius: 50%;
            border: 2px solid transparent;
            background-color: var(--shape-button);
            position: relative;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            
            &:after{
                content: "";
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 50%;
                background-color: var(--color);
            }

            &:hover{
                background-color: var(--shape-hover);
            }
        }
            
        & input[type="radio"]:checked + label {
            border: 2px solid var(--brand-light);
        }

        & .color1 { --color: var(--brand-light); }
        & .color2 { --color: var(--navy); }
        & .color3 { --color: var(--purple); }
        & .color4 { --color: var(--fuschia); }
        & .color5 { --color: var(--pink ); }
        & .color6 { --color: var(--danger); }
        & .color7 { --color: var(--orange); }
        & .color8 { --color: var(--yellow); }
        & .color9 { --color: var(--lime); }
        & .color10 { --color: var(--green); }
        & .color11 { --color: var(--cyan); }
    }
}

.event-theme{
    margin-bottom: 1.75rem;
    & .radio-theme {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
        gap: .5rem;
        
        & input[type="radio"] {
            display: none;
        }

        & label {
            width: 8.375rem;
            height: 6.4375rem;
            border-radius: .5rem;
            background-color: var(--shape-button);
            border: .125rem solid transparent;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            & img {
                margin: .25rem;
            }

            & p {
                font-family: "Open Sans", sans-serif;
                font-size: .875rem;
                font-weight: 500;
                text-align: center;
                margin-top: .1875rem;
            }

            &:hover {
                background-color: var(--shape-hover);
            }
        }

        & input[type="radio"]:checked + label {
            background-color: var(--shape-hover);
            border: 2px solid var(--brand-light);
        }

    }

}

.style{

    display: flex;
    align-items: center;
    gap: 12px;
    
    & .text-light{
        display: none;
    }

    & input[type="checkbox"]{
        display: none;

        &:checked + .switch {
            background-color: var(--brand-light);
        }
        
        &:checked + .switch::before {
            transform: translateX(33px);
            background-color: var(--text-heading);
        }

        &:checked ~ .text-dark{
            display: none;
        }

        &:checked ~ .text-light{
            display: inline;
        }
    }

    & .switch {
        margin: 0;
        position: relative;
        width: 64px;
        height: 32px;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 62.4375rem;
        cursor: pointer;

        &::before{
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--input-stroke);
            top: 3px;
            left: 2px;
            transition: transform 0.3s ;
        }
        
        
    }

    & span{
        font-family: "Open Sans", sans-serif;
        font-size: .875rem;
        font-weight: 500;
        color: var(--text-body);
    }
      
}

.tonality > label{
    margin-bottom: 20px;
}

.cover-photo{

    display: flex;
    align-items: center;
    gap: 12px;
    
    & input[type="file"]{
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: var(--input-placeholder);
        background-color: var(--shape-body);
        border: none;
        
    }

    & .arquivo::file-selector-button {
        display: none;
    }

    & .file-selection{
        margin: 0;
        background-color: var(--shape-button);
        width: 160px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        & img{
            width: 16px;
            height: 16px;
        }
    }

    & span{
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: var(--input-placeholder);
    }
}

.arquivos > label{
    margin-bottom: 15px;
}