main{
    overflow: auto;
}

.main-container{
    width: 35rem;
    margin: 5rem auto 5rem;
    h2{
        font-family: "Open Sans", sans-serif;
        font-size: 1.75rem;
        font-weight: 700;

        color: var(--text-heading);
        margin-bottom: 2.5rem;
    }
}