.style{

    display: flex;
    align-items: center;
    gap: 12px;
    
    .text-light{
        display: none;
    }

    input[type="checkbox"]{
        display: none;

        &:checked + .switch {
            background-color: var(--brand-light);
        }
        
        &:checked + .switch::before {
            transform: translateX(33px);
            background-color: var(--text-heading);
        }

        &:checked ~ .text-dark{
            display: none;
        }

        &:checked ~ .text-light{
            display: inline;
        }
    }

    .switch {
        margin: 0;
        position: relative;
        width: 64px;
        height: 32px;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 62.4375rem;
        cursor: pointer;

        &::before{
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--input-stroke);
            top: 3px;
            left: 2px;
            transition: transform 0.3s ;
        }
        
        
    }

    span{
        font-family: "Open Sans", sans-serif;
        font-size: .875rem;
        font-weight: 500;
        color: var(--text-body);
    }
      
}